/* Page styles */
body {
  overflow-x: hidden;
  font: 18px/normal "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body header {
  display: block;
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
body header h1 {
  display: inline-block;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
body header nav {
  display: inline-block;
  float: right;
}
body header nav ul li {
  display: inline-block;
}
body header nav ul li a {
  padding: 4px 9px;
  border-radius: 2px;
  color: #333333;
  text-decoration: none;
  font-size: 0.8em;
  margin-left: 30px;
}
body header nav ul li a:hover,
body header nav ul li a:active {
  background-color: #008000;
  color: #ffffff;
}
body section {
  padding: 40px;
  min-height: 300px;
}
body section#section-about h1,
body section#section-about h2 {
  font-size: 1.8em;
}
body section#section-about aside {
  color: #737373;
  font-style: italic;
  margin-top: 10px;
}
body section#section-about #profile {
  margin: 10px;
  border: 10px solid #efefef;
  border-radius: 2px;
}
body section#section-work {
  background-color: #008000;
  color: #ffffff;
}
body section#section-work h2 {
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
/* Columns */
.column {
  float: left;
}
.column.side {
  width: 25%;
}
.column.main {
  width: 75%;
}
.column.right {
  float: right;
}
.column.after {
  clear: both;
}
/* Generic big links */
.big-link {
  padding: 7px 15px;
  border: 2px solid #008000;
  border-radius: 2px;
  background-color: #008000;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8em;
}
.big-link:hover,
.big-link:active {
  background-color: #ffffff;
  color: #333333;
}
/* Generic small links */
.small-link {
  padding: 4px 9px;
  border-radius: 2px;
  color: #333333;
  text-decoration: none;
  font-size: 0.8em;
}
.small-link:hover,
.small-link:active {
  background-color: #008000;
  color: #ffffff;
}
/* Subtle links */
.subtle-link {
  margin: 4px 9px;
  color: #c90000;
  text-decoration: none;
  font-style: italic;
  border-bottom: 1px solid transparent;
}
.subtle-link:hover,
.subtle-link:active {
  border-bottom: 1px solid #ccc;
}
/* Read-more links */
a.read-more {
  padding: 7px 15px;
  border: 2px solid #008000;
  border-radius: 2px;
  background-color: #008000;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
  margin: 20px auto;
  text-transform: uppercase;
}
a.read-more:hover,
a.read-more:active {
  background-color: #ffffff;
  color: #333333;
}
/* Alignments */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/* Project tiles */
project {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  width: 200px;
  min-height: 250px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px #333;
  color: #333333;
  vertical-align: top;
}
project h3 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
project em {
  font-style: italic;
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.75);
  display: inline-block;
}
project p {
  padding: 10px 0;
  text-align: justify;
  font-size: 0.8em;
}
project a {
  margin: 4px 9px;
  color: #c90000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 0.8em;
  font-style: italic;
}
project a:hover,
project a:active {
  border-bottom: 1px solid #ccc;
}
/* Small screens */
@media screen and (max-width: 500px) {
  /* Columns */
  .column-expanded {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .column.side,
  .column.main,
  .column.right {
    width: 100%;
  }
}
